/* font */
@font-face {
    font-family: 'S-CoreDream-8Heavy';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-1Thin';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{font-size: 62.5%;}
/* General Settings */
.mg-lr{
    width: 100%;
    margin-left: 0%;
    padding: 30px;
    position: relative;
    overflow: hidden;
    font-family: 'S-CoreDream-3Light';
}
.innerbox{
    position: absolute;
    width: 90%;
    height: 90%;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    border: 1px solid black;
}
.free2move{
    position: absolute;
}
.blue,.red{font-weight: 700;}
.blue{color:rgb(89, 89, 230);}
.red{color:#FF8585;}

/* Banner */

#fixed-banner{
    position: absolute;
    /* top: 300px; */
    bottom: 100px;
    right:10px;
    width:100px;
    height: 220px;
    font-weight: 700;
}
#fixed1{
    position: relative;
    height:50%;
}
.btn-banner{
    text-align: center;
    cursor: pointer;
}
#enroll-banner:hover,#signup-banner:hover{background-color: whitesmoke;transform: scale(1.03);}
#ktalk-banner:hover{filter:brightness(105%);transform: scale(1.03);}
#enroll-banner{
    position: relative;
    height:60%;
    padding-top:1px;
    background-color: rgb(240, 236, 236);
    border-bottom:1px solid rgb(173, 173, 173);
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}
#enroll-banner > div{
    padding-top: 8px;
}
#sugang{font-size: 19px;}
#signup-banner{
    position: relative;
    height:40%;
    font-size: 19px;
    padding-top: 6px;
    background-color: rgb(240, 236, 236);
    
}
#ktalk-banner{
    position: relative;
    height:50%;
}


/* page 1 */
#page1{
    padding:0 !important;
}
#p1t3{
    position: absolute;
    font-size: 5vw;
    top:40%;
    left:50%;
    transform: translate(-50%,0);
}


/* page 2 */
#page2{
    padding-bottom: 0%;
    background-color: rgb(89, 89, 230);
}
#p2t1{
    position: relative;
    left: 30%;
    padding-top:5%;
    font-size: 4vw;
    color:white;
}

#intro_content{
    position: relative;
    width: 70%;
    margin: 8% 0 15% 18%;
}

a[role="button"]{
    font-size: 1.8vw;
    font-family: 'S-CoreDream-8Heavy';
}
.panel.panel-default{margin-top:1.8% !important;}
.collapse div p, .collapsing div p{font-size:1.5vw;}
a[role="button"]:hover{background-color: ghostwhite;}
a:focus, a:hover{text-decoration: none!important;}

/* page3 */
#page3{
    padding: 0;
}
.tutor_area{
    /* max-width:50%; */
    width: 49%;
    display: inline-block;
}
#tutor1{
    position: relative;
}
#tutor2{
    position: relative;
    left:16%;
    transition: 1s;
}
/* #tutor2:hover{left:0%;} */
.tutor{
    width:100%;
    position: relative;
}

#hytutor{
    margin-left: -40%;
    margin-bottom: -5%;
    transition:1s;
    transform: scale(0.9);
}
/* #hytutor:hover{
    margin-left: -5%;
} */
#jmtutor{
    transform: scale(1.2);
    transition:1s;
}

.details{
    position: absolute;
    top: 10%;
}
#detail0{
    text-align: center;
    left: 50%;
    top: 30%;
    font-size: 4vw;
    transform: translateX(-50%);
}
#detail1, #detail2{display: none;}
.detailbox{position: absolute;width:100%;padding:5%;font-size: 2.2vw;}
.detailbox table{
    position: relative;
    width:100%;
    margin-top:27%;
    margin-left:5%;
}
.detailbox td{
    padding:4% 0%;
}
.detailbox td:first-child{
    font-weight: 700;
}
.detailbox td:first-child:after{
    content:' |';
    color: rgb(151, 151, 151);
}
#detail-sub{
    position: absolute;
    left:50%;
    top:70%;
    transform: translateX(-50%);
    font-size: 2vw;
    color:gray;
}
@keyframes blink-animation {
   from {
       visibility: visibility;
   }
   to {
       visibility: hidden;
   }
}
@-webkit-keyframes blink-animation {
   from {
       visibility: visibility;
   }
   to {
       visibility: hidden;
   }
}

#hytitle{
    float: right;
    margin-right:3%;
    margin-top:5%;
    font-family: 'S-CoreDream-8Heavy';
    font-size: 2vw;
    text-shadow: 2px 2px 5px gray;
}
#jmtitle{
    float: left;
    margin-left:3%;
    margin-top:5%;
    font-family: 'S-CoreDream-8Heavy';
    font-size: 2vw;
    text-shadow: 2px 2px 10px gray;
}
.speech-bubble1 {
    position: absolute;
    background: rgb(231, 231, 231);
    border-radius: .4em;
    width: 46%;
    height:73%;
    top:9%;
    left: 39%;
    box-shadow: 3px 3px 10px gray;
}

.speech-bubble1:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 0%;
	width: 0;
	height: 0;
	border: 40px solid transparent;
	border-right-color: rgb(231, 231, 231);
	border-left: 0;
	border-bottom: 0;
	margin-top: -20px;
	margin-left: -40px;
}
.speech-bubble2 {
    position: absolute;
    background: rgb(231, 231, 231);
    border-radius: .4em;
    width: 46%;
    height:73%;
    top:9%;
    left: 18%;
    box-shadow: 3px 3px 10px gray;
}

.speech-bubble2:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 40px solid transparent;
	border-left-color: rgb(231, 231, 231);
	border-right: 0;
	border-bottom: 0;
	margin-top: -20px;
	margin-right: -40px;
}

/* page4 */
#page4{
    padding:5% 0 5% 0;
}

#ytubevideo1{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.content{
    position:relative;
    left: 10%;
    padding-top:45%;
    width: 75%;
}

#p4t1{
    font-size: 3vw;
    position: relative;
    margin-left: 10%;
    font-family: 'S-CoreDream-8Heavy';
}

/* page5 */
#page5{
    padding:0 !important;
}

/* page6 */
#page6{
    padding-bottom: 9%;
    background-color: rgb(89, 89, 230);
}
#p6t1{
    position: relative;
    left: 12%;
    color:white;
    font-size: 4vw;
}
#faq_content{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 7fr;
    width:90%;
    height: 60%;
    left:0%;
    margin-top:5%;
}
#faqcontent1{
    position: relative;
    width:100%;
    padding-top: 2%;
    padding-right: 20%;
    text-align: right;
}
#faqcontent2{
    position: relative;
    height:100%;
    border-radius: 6%;
    background-color: white;
    padding:5% 10% 10% 10%;
}
.faqtab{
    position: relative;
    font-size: 2vw;
    color:rgb(209, 209, 209);
    cursor: pointer;
    margin-bottom: 7%;
}
button.faqtab{background-color: transparent;border:0;outline:0;}
.faqtab:hover, .faqtab:focus{color:white; text-decoration: underline;}
#faqtitle{
    position: relative;
    font-weight: 1000;
    font-size: 2.7vw;
    font-family: 'S-CoreDream-8Heavy';
}
#faqtext{
    padding-top: 10%;
    font-size:2vw;
    min-height: 150px;
}
#faqtext li{line-height: 1.5;}

.faq-question{
    font-family: 'S-CoreDream-8Heavy';
}
.faq-answer{
    margin-top: 3%;
    padding-left: 5%;
    font-size: 1.7vw;
}

/* page 7 */
#page7{
    padding:0 !important;
}



/* accordion 1 */
.bs-accordion .panel-heading {
    padding: 0;
}
.bs-accordion .panel-heading a {
    display: block;
    padding: 3% 5%;
}
.bs-accordion .panel-heading a[aria-expanded=true] .glyphicon.glyphicon-chevron-right {
    transform: rotate(90deg);
    transition: transform 350ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.bs-accordion .panel-heading a .glyphicon.glyphicon-chevron-right {
    transition: transform 350ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
/* accordion 2 */
.panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #EEEEEE;
  }
  
  .panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #212121;
    background-color: #FAFAFA;
    border-color: #EEEEEE;
  }
  
  .panel-title {
    font-size: 14px;
  }
  
  .panel-title > a {
    display: block;
    padding: 15px;
    text-decoration: none;
  }
  
  .more-less {
    float: right;
    color: #212121;
  }
  
  .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #EEEEEE;
  }
  .collapse div.panel-body, .collapsing div.panel-body{font-size:1.3vw;}

  /* top button */
#toTop{
    position: fixed;
    right: 2%;
    bottom: 3%;
    cursor:pointer;
    display: none;
    animation: sizeToggle 1s ease-in-out infinite 0s;
}
#toTop:hover{
    color: gray;
    transform: scale(1.1);
}

/* media query */
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #fixed-banner{
        top: auto;
        bottom: 100px;
        right:2px;
        width:60px;
        height: 130px;
        font-size: x-small;
    }
    #enroll-banner > div{padding-top:3px;}
    #sugang, #signup-banner{font-size:12px;}
  }